In [3]:
import pandas as pd

In [6]:
per_barcode_metrics = pd.read_csv("../../.././/data/10X_PBMC_scmultiome/pbmc_granulocyte_sorted_10k_per_barcode_metrics.csv")

## despite the atac barcode is specificially indicated in the per_barcode_metrics dile, it is later matched to the gex barcodes

In [7]:
per_barcode_metrics.head()

,barcode,gex_barcode,atac_barcode,is_cell,excluded_reason,gex_raw_reads,gex_mapped_reads,gex_conf_intergenic_reads,gex_conf_exonic_reads,gex_conf_intronic_reads,...,atac_raw_reads,atac_unmapped_reads,atac_lowmapq,atac_dup_reads,atac_chimeric_reads,atac_mitochondrial_reads,atac_fragments,atac_TSS_fragments,atac_peak_region_fragments,atac_peak_region_cutsites
0,AAACAGCCAAACAACA-1,AAACAGCCAAACAACA-1,ACAGCGGGTGTGTTAC-1,0,0,7,7,1,5,1,...,34,0,2,14,0,1,17,6,11,21
1,AAACAGCCAAACATAG-1,AAACAGCCAAACATAG-1,ACAGCGGGTTGTTCTT-1,0,0,1,1,0,1,0,...,2,1,0,0,1,0,0,0,0,0
2,AAACAGCCAAACCCTA-1,AAACAGCCAAACCCTA-1,ACAGCGGGTAACAGGC-1,0,0,15,15,1,1,11,...,31,23,1,2,0,0,5,1,3,6
3,AAACAGCCAAACCTAT-1,AAACAGCCAAACCTAT-1,ACAGCGGGTGCGCGAA-1,0,0,20,20,12,7,1,...,3,1,2,0,0,0,0,0,0,0
4,AAACAGCCAAACCTTG-1,AAACAGCCAAACCTTG-1,ACAGCGGGTCCTCCAT-1,0,0,2,2,0,2,0,...,13,1,0,4,3,0,5,1,2,4

In [8]:
per_barcode_metrics_only_atac= per_barcode_metrics[["barcode","is_cell"]]

In [9]:
per_barcode_metrics_only_atac.columns = ['barcode' , 'is__cell_barcode']

In [10]:
per_barcode_metrics_only_atac.iloc[0,0]

'AAACAGCCAAACAACA-1'

In [11]:
per_barcode_metrics_only_atac.to_csv("../../../../data/10X_PBMC_scmultiome/03_doublet_detection/singlecell.csv",index=False)

In [12]:
'TCAAGAACAGTAATAG-1' in list(per_barcode_metrics_only_atac.barcode)

True

In [13]:
'TTTGTTGGTTTGCAGA-1' in list(per_barcode_metrics_only_atac.barcode)

True

In [14]:
'TTTGTTGGTTTGCAGA-1' in list(per_barcode_metrics.atac_barcode)

False

In [15]:
per_barcode_metrics_only_atac['barcode']

0         AAACAGCCAAACAACA-1
1         AAACAGCCAAACATAG-1
2         AAACAGCCAAACCCTA-1
3         AAACAGCCAAACCTAT-1
4         AAACAGCCAAACCTTG-1
                 ...
732266    TTTGTTGGTTGCCTCA-1
732267    TTTGTTGGTTGTAAAC-1
732268    TTTGTTGGTTGTGATG-1
732269    TTTGTTGGTTTAACGG-1
732270    TTTGTTGGTTTGAGCA-1
Name: barcode, Length: 732271, dtype: object