In [1]:
import pandas as pd

In [2]:
metadata = pd.read_csv("/project/scATAC_analysis/scATAcat_review/data/Morabito2021_brainCortex_snATAC/GSE174367_snATAC-seq_cell_meta.csv")

In [3]:
metadata.head()

,Sample.ID,Batch,Age,Sex,PMI,Tangle.Stage,Plaque.Stage,Diagnosis,RIN,cluster,Cell.Type,Barcode
0,Sample-96,1,79,M,7.00,Stage 1,Stage A,Control,7.1,ODC.f,ODC,AAACGAAAGAAACGCC-13
1,Sample-101,2,74,F,7.75,Stage 2,Stage B,Control,8.1,ODC.k,ODC,AAACGAAAGAAATGGG-11
2,Sample-37,3,87,F,4.25,Stage 6,Stage C,AD,7.0,PER.END.a,PER.END,AAACGAAAGAAATGGG-5
3,Sample-96,1,79,M,7.00,Stage 1,Stage A,Control,7.1,EX.b,EX,AAACGAAAGAAATTCG-13
4,Sample-43,1,90,F,4.17,Stage 6,Stage B,AD,8.9,ODC.a,ODC,AAACGAAAGAACGACC-8

In [ ]:
#subset for sample-90 (SRR14514144)

In [5]:
sample90 = metadata[metadata['Sample.ID'] ==  "Sample-90"]

In [6]:
sample90.head()

,Sample.ID,Batch,Age,Sex,PMI,Tangle.Stage,Plaque.Stage,Diagnosis,RIN,cluster,Cell.Type,Barcode
5,Sample-90,3,79,F,4.25,Stage 1,Stage A,Control,7.3,ODC.g,ODC,AAACGAAAGACGACTG-6
9,Sample-90,3,79,F,4.25,Stage 1,Stage A,Control,7.3,EX.d,EX,AAACGAAAGAGACTCG-6
12,Sample-90,3,79,F,4.25,Stage 1,Stage A,Control,7.3,ODC.f,ODC,AAACGAAAGATCACCT-6
35,Sample-90,3,79,F,4.25,Stage 1,Stage A,Control,7.3,ODC.a,ODC,AAACGAAAGGGAAATG-6
39,Sample-90,3,79,F,4.25,Stage 1,Stage A,Control,7.3,ODC.g,ODC,AAACGAAAGGTCGGTA-6

In [8]:
set(list(sample90['Cell.Type']))

{'ASC', 'EX', 'INH', 'MG', 'ODC', 'OPC', 'PER.END'}

In [26]:
#convert the barcode ending from 6 to 1

sample90_sub = sample90[['Sample.ID','Cell.Type','Barcode']]
sample90_sub['Barcode'] = sample90_sub['Barcode'].str.replace('6','1',)

/scratch/local/ipykernel_14229/2386880702.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample90_sub['Barcode'] = sample90_sub['Barcode'].str.replace('6','1',)

In [27]:
sample90_sub

        Sample.ID Cell.Type             Barcode
5       Sample-90       ODC  AAACGAAAGACGACTG-1
9       Sample-90        EX  AAACGAAAGAGACTCG-1
12      Sample-90       ODC  AAACGAAAGATCACCT-1
35      Sample-90       ODC  AAACGAAAGGGAAATG-1
39      Sample-90       ODC  AAACGAAAGGTCGGTA-1
...           ...       ...                 ...
130340  Sample-90       ODC  TTTGTGTGTGGATTTC-1
130363  Sample-90        MG  TTTGTGTTCACGTGTA-1
130397  Sample-90       ODC  TTTGTGTTCGTGGAAG-1
130401  Sample-90       ASC  TTTGTGTTCTAGCAGT-1
130412  Sample-90       ODC  TTTGTGTTCTTATCAC-1

[5932 rows x 3 columns]

In [28]:
sample90_sub.to_csv("/project/scATAC_analysis/scATAcat_review/data/Morabito2021_brainCortex_snATAC/05_cell_annotations/cell_type_annotations.csv")